/*

Softy Pinko

https://templatemo.com/tm-535-softy-pinko

*/
/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. welcome
06. courses
07. team
08. pricing
09. blog
10. contact
11. footer
12. preloader

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: "Raleway", sans-serif;
}

::selection {
  background: #010370;
  color: #fff;
}

::-moz-selection {
  background: #ff589e;
  color: #fff;
}

.section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
}

.section.colored {
  background: #f2f2fe;
}

.hr {
  bottom: 0px;
  width: 100%;
  height: 1px;
  margin-top: 100px;
  border-bottom: 1px solid #eee;
}

.left-heading.light .section-title {
  color: #ffffff;
}

.left-heading .section-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  margin-bottom: 30px;
  position: relative;
}

.center-heading {
  text-align: center;
}

.center-heading .section-title {
  font-weight: 500;
  font-size: 28px;
  color: #1e1e1e;
  letter-spacing: 1.75px;
  line-height: 38px;
  margin-bottom: 20px;
}

.center-heading.colored .section-title {
  color: #ffffff;
}

.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.center-text.colored {
  color: #fff;
}

.center-text p {
  font-size: 15px;
  color: #777;
  margin-bottom: 30px;
}

.left-text {
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 28px;
  letter-spacing: 1px;
}

.left-text.light {
  color: #fff;
}

.left-text p {
  margin-bottom: 30px;
}

.left-text p.dark {
  color: #3B566E;
}

.padding-bottom-top-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.padding-bottom-80 {
  padding-bottom: 80px !important;
}

.padding-bottom-100 {
  padding-bottom: 100px !important;
}

.border-bottom {
  border-bottom: 1px solid #eee !important;
}

.mbottom-30 {
  margin-bottom: 30px !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-self-bottom {
  -ms-flex-item-align: flex-end !important;
  align-self: flex-end !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-80 {
  padding-top: 80px !important;
}

.padding-top-70 {
  padding-top: 70px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-45 {
  margin-bottom: 45px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px !important;
}

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

a.main-button-slider {
  font-size: 13px;
  border-radius: 8px;
  padding: 12px 20px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  color: #0a0131;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button-slider:hover {
  background-color: #02063b;
  color: white;
}

/* 
---------------------------------------------
header
--------------------------------------------- 
*/
.header-area {
  position: fi;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 80px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(19, 2, 249, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}


.header-area .main-nav .logo {
  float: left;
  height: 40px;
  margin-top: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 30px;
  
}

.header-area .main-nav .nav {
  /* float: right; */
  margin-top: 20px;
  text-align: center;
  margin-left: 400px;
  /* margin-right: 30px; */
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 40px;
  padding-right: 40px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: bold;
  font-size: 13px;
  color: #4307f6;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li a:hover {
  color: #17dde4;
}
.header-area .main-nav .nav  .dropdown {
  display: inline-block;
  position: relative;
}

.header-area .main-nav .nav  .dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  width: 200px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.header-area .main-nav .nav .dropdown:hover .dropdown-options {
  display: block;
}

.header-area .main-nav .nav li .dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:0px 0px;
}

.header-area .main-nav .nav li .dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}
.apply {
  align-items: center;
  /* background-image: linear-gradient(144deg,#1e04a1, #5B42F3 50%,#00DDEB); */
  background-color: #040a80;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  float: right;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  /* box-sizing: border-box; */
  color: #FFFFFF;
  display: flex;
  
  font-size: 16px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 24px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.apply:hover{
  background-color: rgb(2, 12, 54);
  color: white;
}
@media (max-width: 991px) {
  .header-area .apply {
    visibility: hidden;
  }
  .dropdown{
    width: 300px;
  }
}
.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3B566E;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3B566E;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #3B566E;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #3B566E;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .logo {
  margin-top: 25px;
}

.header-area.header-sticky .nav {
  margin-top: 20px !important;
}

.header-area.header-sticky .nav li a {
  color: #09023f;
}

.header-area.header-sticky .nav li a.active {
  color: #100347;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-area {
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-top: 27px !important;
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 80px !important;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 0px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #fff !important;
    color: #3B566E !important;
    
  }
  .header-area .main-nav .nav li a .active{
    color: #02063b;
  }
  .header-area .main-nav .nav li a:hover {
    background: #070707 !important;
  }
}

@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

/* 
---------------------------------------------
welcome
--------------------------------------------- 
*/
.welcome-area {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bannerbg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  height: 550px;
}

.welcome-area .header-text {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  text-align: center;
  width: 1100px;
}

.welcome-area .header-text h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 75px;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
  color: #fff;
}

.welcome-area .header-text p {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  line-height: 28px;
  letter-spacing: 0.25px;
  margin-bottom: 40px;
  position: relative;
}

@media (max-width: 991px) {
  .welcome-area .header-text {
    top: 55% !important;
    transform: perspective(1px) translateY(-60%) !important;
    text-align: center;
    width: 100%;
    width: 500px;
  }
  .welcome-area .header-text h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    line-height: 60px;
    font-size: 32px;
  }
  .welcome-area .header-text h1 span {
    color: #fff;
  }
  .welcome-area .header-text p {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
  }
}

@media (max-width: 820px) {
  .welcome-area{
    /* height: 300px; */
  }
  .welcome-area .header-text {
    top: 55% !important;
    width: 400px;
    transform: perspective(1px) translateY(-60%) !important;
  }
   .welcome-area .header-text h1 {
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 50px;
  }
  .welcome-area .header-text p {
    margin-bottom: 50px;
  }
}

@media (max-width: 765px) {
  .welcome-area {
    /* margin-bottom: 100px; */
    /* height: 550px; */
    
  }
  .welcome-area .header-text {
    top: 50% !important;
    transform: perspective(1px) translateY(-50%) !important;
    text-align: center;
    width: 400px;
  }
  .welcome-area .header-text .buttons {
    display: none;
  }
  .welcome-area .header-text h1 {
    font-weight: 600;
    font-size: 24px !important;
    line-height: 40px !important;
    margin-bottom: 30px !important;
  }
  .welcome-area .header-text h1 span {
    color: #fff;
  }
  .welcome-area .header-text p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}


/* 
---------------------------------------------
courses
--------------------------------------------- 
*/
.coursehead{
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #190242;
  font-weight: bold;
}


.courses-small-item {
  cursor: pointer;
  display: block;
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  margin-bottom: 30px;
  height: 300px;
}

.courses-small-item:hover .icon {
  background-color: #ff589e;
}

.courses-small-item .icon {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
  background: #8261ee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.courses-small-item .icon i {
  font-size: 18px;
  color: #fff;
}

.courses-small-item .courses-title {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}

.courses-small-item p {
  font-weight: 400;
  font-size: 13px;
  color: #777;
  letter-spacing: 0.5px;
  line-height: 25px;
  position: relative;
  z-index: 2;
}

.courses-small-item a {
  float: right;
  position: relative;
  z-index: 2;
}

.home-feature {
  padding-bottom: 0px;
  padding-top: 30px;
  margin-top: 10px;
  z-index: 9;
}

@media (max-width: 600px) {
  .home-feature {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
  }
}

/* 
---------------------------------------------
Pay After placement courses
--------------------------------------------- 
*/

.paphead{
  text-align: center;
  font-weight: bold;
  color: #f0f0f2;
  /* padding-top: 10px; */
  padding-bottom: 10px;
  font-size: 36px;

}
.pap{
  background-color: #0e034d;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}
.pap-area{
  margin: 100px;
}
.pap-area h1{
  text-align: center;
  padding-bottom: 20px;
  color: #02063b;
  font-weight: bold;
}
.pap-area p{
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 505;
  line-height: 40px;
  text-align: justify;
}
.pap-area p b{
  font-weight: bold;
  font-size: 18px;
}

.how{
  background-color: #010370;
  color: #fff;
  padding-bottom: 50px;
  
}
.how h1{
  text-align: center;
  padding: 50px;
  
}
.how p{
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 20px;
  font-weight: 505;
  line-height: 40px;
  text-align: justify;
}
 .how p b{
    color: #02a0fc;
  }
@media (max-width:765px){
  .paphead{
    font-size: 24px;
  }
  .pap-area{
    margin:25px;
  }
  .pap-area h1{
    font-size: 36px;
  }
  .how p{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    font-weight: 505;
    line-height: 40px;
  }
  .how p b{
    color: #02a0fc;
  }
}
/* /* 
---------------------------------------------
Choose us
--------------------------------------------- 
*/
.choose-us{
  height: 400px; 
  position: relative;
  margin-top: 50px;
  color: #fff;
  background: linear-gradient(72deg, rgba(2, 44, 116, 0.9) 0%, rgba(81, 2, 251, 0.9) 100%);
}
.choose-us .c-text{
  text-align: center;
  padding: 50px;
  line-height: 50px;
  
}
.choose-us .c-text span{
  font-size: 36px;
  padding-left: 20px;
  font-weight: 600;
  word-spacing: 10px;
  
}
.choose-us .c-text span:nth-child(2){
  color: #4BE5CA;
  
}
 .choose-us p{
  text-align: justify; top: 20px; bottom: 20px; line-height: 40px;
 }
.w-process{
  margin: 100px;

}
.w-process1{
  text-align: center;
}

@media (max-width:600px){
 .choose-us{
  height: 900px;
 } 
}
/* Key Highlights */

.key-area{
  height: 700px; position: relative; background: linear-gradient(259deg, #101AFA 0%, #0B11A8 39%, #030532 95%);
}
.key-area .key-c{
  margin: 50px; background: #fff; position: absolute; right: 0px; left: 0px; top: 0px; bottom: 0px; position: absolute; 
  border-top-left-radius: 10px; border-top-right-radius: 50px; border-bottom-right-radius: 10px; border-bottom-left-radius: 40px
}
.key-area .key-head{
  top:20px; position: relative; text-align: center; color: #040127; font-size: 36px;  font-weight: 700; 
}
.key-area .key-c .key-high{
  justify-content: center; line-height: 50px;
  display: flex; padding:50px 00px 0px 250px; position: absolute;
}
.key-area .key-c .key-high .key-col1{
  align-items: center;
  color: #01073D;
}
.key-area .key-c .key-high .key-col1 h4{
  font-size: 16px;
  font-weight: 700;
  
  
}
.key-area .key-c .key-high .key-col2{
   
  color: #01073D;
  padding-left: 60px;
   
}
.key-area .key-c .key-high .key-col2 h4{
  font-size: 16px;
  font-weight: 700;
   
  
}

@media (max-width:600px){
  .key-area .key-head{
  font-size: 28;
  }
  .key-area{
    height: 750px;

  }
  .key-area .key-c{
    margin: 20px;
  }
  .key-area .key-c .key-high .key-col2{
    left: 20px;
  }
  .key-area .key-c .key-high .key-col2{
    left: 20px;
    padding-left: 20px;
  }
  .key-area .key-c .key-high{
    line-height: 30px;
    padding:20px 00px 0px 00px;
  }
}
/* 
---------------------------------------------
contact
--------------------------------------------- 
*/

#contact-us {
  padding: 160px 0px;
}

#contact-us h5 {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  line-height: 26px;
}

.contact-text {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.6px;
  line-height: 26px;
}

.contact-text p {
  margin-bottom: 28px;
}

.contact-form input,
.contact-form textarea {
  color: #777;
  font-size: 14px;
  border: 1px solid #eee;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}

.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

/* 
---------------------------------------------
Connect
--------------------------------------------- 
*/
.connect {
  /* background-image: linear-gradient(127deg, #270d83 0%, #3406ca 91%); */
  padding-top: 30px;
  /* height: 150px; */
}

.connect .social {
  overflow: hidden;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 40px;
}

.connect .social li {
  margin: 0px 10px;
  display: inline-block;
  padding-left: px;
}

.connect .social li a {
  color: #3d0373;
  text-align: center;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  /* padding-left: 20px; */
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.connect .social li a:hover {
  background-color: #7655ee;
  color: #fff;
}
.insta{
  height: 100px;
  background-image: url("assets\images\instagram.svg");
}

.connecthead{
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}
.tooltip {
  /* display: inline; */
  /* position: relative; */
}
.tooltip:hover:after{
  /* display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: attr(title);
  margin: -82px auto 0;
  font-size: 16px;
  padding: 13px;
  width: 220px; */
}
.tooltip:hover:before{
  /* border: solid; */
  /* border-color: #444 transparent; */
  /* border-width: 12px 6px 0 6px; */
  /* content: ""; */
  /* left: 45%; */
  /* bottom: 30px; */
  /* position: absolute; */
}
/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
footer {
  background-image: linear-gradient(127deg, #150238 0%, #0a036b 91%);
  padding-top: 30px;
  color: #fff;
  /* text-align: center; */
  
}

footer .footer-area{
  margin: 50px;
}
footer p{
  margin-top: 20px;
  /* font-weight: 600; */
}
hr{
background-color: #fff;
opacity: .1;
}
footer .copyright {
  text-align: center;
  border-top: 1px solid rgba(250,250,250,0.2);
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.88px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  footer .text {
    margin-bottom: 30px;
  }
  footer h5 {
    margin-bottom: 15px;
  }
  footer .footer-nav {
    margin-bottom: 30px;
  }
}

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/
#preloader {
  overflow: hidden;
  background-image: linear-gradient(135deg, #1b0a80 0%, #02a0fc 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}